.container {
    width: 700px;
    border: 3px solid;
    display: flex;
}

.container div {
    margin: 3px;
    width: 100px;
    height: 100px;
    background-color: orange;
}

.container div:nth-child(2) {
    flex-grow: 4;
}

.container div:nth-child(1) {
    flex-grow: 1;
}

.container div:nth-child(3) {
    flex-grow: 1;
}

.container div:nth-child(4) {
    flex-grow: 1;
}